@use 'variaveis';

.header{
    position: sticky;
    top: 0;
    left: 0;
    color: variaveis.$corDoTextoSecundario;
    background-color: variaveis.$corDeFundoPrimaria;
    

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: center;

    }

    &__links{
        display: flex;
        

        &__item{
            list-style: none;
        }
        
    }
}